Repository JMRI/JMRI, pull requests merged in 2019-03, with the labels that each got.

#6625 Restore Spotbugs CI
  .spotbugs-check.xml
  build.xml
  java/src/jmri/jmrit/beantable/IdTagTableAction.java
  java/src/jmri/jmrit/beantable/RailComTableAction.java
  java/src/jmri/jmrit/logix/Engineer.java
  java/src/jmri/jmrit/logix/SpeedProfilePanel.java
  java/src/jmri/jmrix/loconet/LocoNetSystemConnectionMemo.java
  java/src/jmri/jmrix/loconet/pr4/ConnectionConfig.java
  java/src/jmri/jmrix/loconet/usb_dcs52/configurexml/ConnectionConfigXml.java
  java/src/jmri/managers/configurexml/AbstractSignalHeadManagerXml.java
  java/src/jmri/managers/configurexml/DefaultSignalMastManagerXml.java
  java/src/jmri/server/json/JsonNamedBeanHttpService.java
  java/src/jmri/util/AbstractFrameAction.java
Labels: Cleanup, dev/test/publish infrastructure

#6628 Address LocoNet some Spotbugs, javadocs issues
  help/en/html/doc/Technical/NetBeans.shtml
  java/src/jmri/jmrix/loconet/AbstractAlmImplementation.java
  java/src/jmri/jmrix/loconet/LnClockControl.java
  java/src/jmri/jmrix/loconet/LnCommandStationType.java
  java/src/jmri/jmrix/loconet/LnLight.java
  java/src/jmri/jmrix/loconet/LnLightManager.java
  java/src/jmri/jmrix/loconet/LnOpsModeProgrammer.java
  java/src/jmri/jmrix/loconet/LnPacketizer.java
  java/src/jmri/jmrix/loconet/LnPortController.java
  java/src/jmri/jmrix/loconet/LnPr2ThrottleManager.java
  java/src/jmri/jmrix/loconet/LnProgrammerManager.java
  java/src/jmri/jmrix/loconet/LnSensorAddress.java
  java/src/jmri/jmrix/loconet/LnSensorManager.java
  java/src/jmri/jmrix/loconet/LnTurnoutManager.java
  java/src/jmri/jmrix/loconet/LocoNetConsistManager.java
  java/src/jmri/jmrix/loconet/LocoNetMessage.java
  java/src/jmri/jmrix/loconet/Pr2Throttle.java
  java/src/jmri/jmrix/loconet/UhlenbrockSlot.java
  java/src/jmri/jmrix/loconet/locobuffer/ConnectionConfig.java
  java/src/jmri/jmrix/loconet/locobufferii/ConnectionConfig.java
  java/src/jmri/jmrix/loconet/locobufferusb/ConnectionConfig.java
  java/src/jmri/jmrix/loconet/loconetovertcp/ConnectionConfig.java
  java/src/jmri/jmrix/loconet/ms100/ConnectionConfig.java
  java/src/jmri/jmrix/loconet/pr2/ConnectionConfig.java
  java/src/jmri/jmrix/loconet/pr2/PR2Adapter.java
  java/src/jmri/jmrix/loconet/pr3/ConnectionConfig.java
  java/src/jmri/jmrix/loconet/pr3/PR3Adapter.java
  java/src/jmri/jmrix/loconet/pr4/ConnectionConfig.java
  java/src/jmri/jmrix/loconet/pr4/PR4Adapter.java
  java/src/jmri/jmrix/loconet/usb_dcs240/ConnectionConfig.java
  java/src/jmri/jmrix/loconet/usb_dcs240/UsbDcs240Adapter.java
  java/src/jmri/jmrix/loconet/usb_dcs240/configurexml/ConnectionConfigXml.java
  java/src/jmri/jmrix/loconet/usb_dcs52/ConnectionConfig.java
  java/src/jmri/jmrix/loconet/usb_dcs52/UsbDcs52Adapter.java
  java/src/jmri/jmrix/loconet/usb_dcs52/configurexml/ConnectionConfigXml.java
Labels: Add to Next Test Release, Cleanup

#6652 Fix launcher bug - fixes JMRI/JMRI#6568
  help/en/releasenotes/current-draft-note.shtml
  scripts/WinInstallFiles/LaunchJMRI.exe
  scripts/WinInstallFiles/LaunchJMRI.nsi
Labels: Bug

#6733 Remove "Stand-alone LocoNet" for PR4
  help/en/html/hardware/loconet/StandaloneLocoNet.shtml
  help/en/releasenotes/current-draft-note.shtml
  java/src/jmri/jmrix/loconet/pr4/PR4Adapter.java
  java/test/jmri/jmrix/loconet/pr4/PR4AdapterTest.java
Labels: Add to Next Test Release, Bug
