Repository JMRI/JMRI, pull requests merged in 2021-12, with the labels that each got.

#10397 Fix to bug in PR#10384
  java/src/jmri/jmrit/logix/Warrant.java
Labels: New PR

#10400 Fix to bug in PR#10384
  java/src/jmri/jmrit/logix/Warrant.java
Labels: New PR

#10390 J11: improve SuppressWarnings(deprecation) notations
  java/src/apps/SampleMinimalProgram.java
  java/src/jmri/jmrit/XmlFile.java
  java/src/jmri/jmrit/automat/AbstractAutomaton.java
  java/src/jmri/jmrit/operations/trains/Train.java
  java/src/jmri/jmrix/ieee802154/xbee/XBeeTrafficController.java
  java/src/jmri/jmrix/ncemonitor/NcePacketMonitorPanel.java
  java/src/jmri/util/gui/GuiLafPreferencesManager.java
  java/src/jmri/util/startup/StartupActionsManager.java
Labels: Java 11

#10393 J11: Remove OBE unused pre-scripting classes
  help/en/releasenotes/current-draft-warnings.shtml
  java/src/jmri/jmrit/automat/JythonAutomaton.java
  java/src/jmri/jmrit/automat/JythonAutomatonAction.java
  java/src/jmri/jmrit/automat/JythonSiglet.java
  java/src/jmri/jmrit/automat/JythonSigletAction.java
  java/test/jmri/jmrit/automat/JythonAutomatonActionTest.java
  java/test/jmri/jmrit/automat/JythonAutomatonTest.java
  java/test/jmri/jmrit/automat/JythonSigletActionTest.java
  java/test/jmri/jmrit/automat/JythonSigletTest.java
Labels: Java 11

#10394 J11: remove deprecated methods and classes from Roster and Throttle panes
  help/en/releasenotes/current-draft-warnings.shtml
  java/src/jmri/jmrit/roster/RosterEntry.java
  java/src/jmri/jmrit/roster/RosterRecorder.java
  java/src/jmri/jmrit/throttle/FunctionButton.java
  java/src/jmri/jmrit/throttle/ThrottleFrame.java
  java/src/jmri/jmrit/throttle/ThrottleWindow.java
  java/test/jmri/jmrit/roster/RosterRecorderTest.java
Labels: Java 11

#10399 distinguish debug messages
  java/src/jmri/jmrix/AbstractMRTrafficController.java
Labels: Add to Next Test Release

#10403 J11 remove deprecated getSystemNameList in Audio support
  java/src/jmri/AudioManager.java
  java/src/jmri/jmrit/audio/DefaultAudioManager.java
  java/src/jmri/jmrit/beantable/AudioTableAction.java
Labels: Java 11

#10402 J11 Remove deprecated IPv4, IPv6 option storage method
  help/en/releasenotes/current-draft-warnings.shtml
  java/src/jmri/util/zeroconf/ZeroConfPreferences.java
Labels: Java 11

#10404 J11 remove OBE QuietShutDownTask
  java/src/jmri/implementation/QuietShutDownTask.java
  java/test/jmri/managers/DefaultShutDownManagerTest.java
  java/test/jmri/util/MockShutDownManagerTest.java
Labels: Java 11

#10405 J11 Remove deprecated JTable persistence from pre-4.6
  java/src/jmri/swing/JmriJTablePersistenceManager.java
  java/test/jmri/swing/JmriJTablePersistenceManagerTest.java
Labels: Java 11

#10406 J11: Remove instance() from logix and conditionals
  java/src/jmri/managers/DefaultConditionalManager.java
  java/src/jmri/managers/DefaultLogixManager.java
Labels: Java 11

#10407 J11: Remove deprecated jmri.jmris.json package and jmri.jmris methods
  java/src/jmri/jmris/json/Bundle.java
  java/src/jmri/jmris/json/Bundle.properties
  java/src/jmri/jmris/json/Bundle_ca.properties
  java/src/jmri/jmris/json/Bundle_cs.properties
  java/src/jmri/jmris/json/Bundle_da.properties
  java/src/jmri/jmris/json/Bundle_de.properties
  java/src/jmri/jmris/json/Bundle_fr.properties
  java/src/jmri/jmris/json/Bundle_it.properties
  java/src/jmri/jmris/json/Bundle_nl.properties
  java/src/jmri/jmris/json/JsonProgrammerServer.java
  java/src/jmri/jmris/json/JsonServer.java
  java/src/jmri/jmris/json/JsonServerAction.java
  java/src/jmri/jmris/json/JsonServerPreferences.java
  java/src/jmri/jmris/json/JsonServerPreferencesPanel.java
  java/src/jmri/jmris/json/package-info.java
  java/src/jmri/jmris/simpleserver/SimpleServerManager.java
  java/src/jmri/jmris/srcp/TimeStampedOutput.java
  java/test/jmri/jmris/json/BundleTest.java
  java/test/jmri/jmris/json/JsonProgrammerServerTest.java
  java/test/jmri/jmris/json/JsonServerActionTest.java
  java/test/jmri/jmris/json/JsonServerPreferencesPanelTest.java
  java/test/jmri/jmris/json/JsonServerPreferencesTest.java
  java/test/jmri/jmris/json/JsonServerTest.java
  java/test/jmri/jmris/simpleserver/SimpleServerManagerTest.java
Labels: New PR, Java 11

#10408 Fix exception when Memory messages suppressed
  java/src/jmri/jmrit/beantable/MemoryTableDataModel.java
  java/test/jmri/jmrit/beantable/MemoryTableDataModelTest.java
Labels: Add to Next Test Release

#10409 Fix bug in ShowDialog
  java/src/jmri/jmrit/logixng/actions/ShowDialog.java
Labels: Add to Next Test Release, New PR

#10411 Remove all speed overrun checking
  help/en/releasenotes/current-draft-warnings.shtml
  java/src/jmri/jmrit/logix/Engineer.java
  java/src/jmri/jmrit/logix/Warrant.java
Labels: Add to Next Test Release, New PR

#10413 Add LocoBuffer-NG
  help/en/html/hardware/index.shtml
  help/en/html/hardware/loconet/Digitrax.shtml
  help/en/html/hardware/loconet/LocoBufferUSB.shtml
  help/en/releasenotes/current-draft-note.shtml
  java/src/jmri/jmrix/loconet/LnConnectionTypeList.java
  java/src/jmri/jmrix/loconet/locobufferng/Bundle.java
  java/src/jmri/jmrix/loconet/locobufferng/COPYING
  java/src/jmri/jmrix/loconet/locobufferng/ConnectionConfig.java
  java/src/jmri/jmrix/loconet/locobufferng/LocoBufferNGAdapter.java
  java/src/jmri/jmrix/loconet/locobufferng/configurexml/COPYING
  java/src/jmri/jmrix/loconet/locobufferng/configurexml/ConnectionConfigXml.java
  java/test/jmri/jmrix/loconet/locobufferng/BundleTest.java
  java/test/jmri/jmrix/loconet/locobufferng/COPYING
  java/test/jmri/jmrix/loconet/locobufferng/ConnectionConfigTest.java
  java/test/jmri/jmrix/loconet/locobufferng/LocoBufferUsbAdapterTest.java
  java/test/jmri/jmrix/loconet/locobufferng/configurexml/ConnectionConfigXmlTest.java
Labels: Add to Next Test Release, New PR

#10415 J11: Remove two empty, deprecated file utility methods
  java/src/jmri/util/FileUtil.java
  java/src/jmri/util/FileUtilSupport.java
Labels: Java 11

#10416 J11 : remove three deprecated methods from jmrit.logix package
  java/src/jmri/jmrit/logix/Portal.java
  java/src/jmri/jmrit/logix/TrackerTableAction.java
Labels: Java 11

#10417 J11: remove deprecated methods from SwitchboardEditor
  java/src/jmri/jmrit/display/switchboardEditor/BeanSwitch.java
  java/src/jmri/jmrit/display/switchboardEditor/SwitchboardEditor.java
Labels: Java 11

#10418 J11: remove deprecated ControlPanelEditor content
  java/src/jmri/jmrit/display/controlPanelEditor/PortalIcon.java
  java/src/jmri/jmrit/display/controlPanelEditor/shape/LocoLabel.java
  java/src/jmri/jmrit/display/controlPanelEditor/shape/configurexml/LocoLabelXml.java
  java/test/jmri/jmrit/display/controlPanelEditor/shape/configurexml/LocoLabelXmlTest.java
Labels: Java 11

#10419 J11: remove some deprecated editor methods
  java/src/jmri/jmrit/display/Editor.java
  java/src/jmri/jmrit/display/layoutEditor/LayoutEditorFindItems.java
  java/src/jmri/jmrit/display/layoutEditor/TrackSegment.java
Labels: Java 11

#10420 J11: remove deprecated sound-related methods
  java/src/jmri/jmrit/audio/AudioSource.java
  java/src/jmri/jmrit/audio/DefaultAudioManager.java
  java/src/jmri/jmrit/vsdecoder/VSDecoder.java
Labels: Java 11

#10426 Fix bug in ShowDialog
  java/src/jmri/jmrit/logixng/MaleSocket.java
  java/src/jmri/jmrit/logixng/actions/ShowDialog.java
  java/src/jmri/jmrit/logixng/implementation/AbstractMaleSocket.java
  java/test/jmri/jmrit/logixng/FemaleSocketTestBase.java
  java/test/jmri/jmrit/logixng/configurexml/load/LogixNG.xml
Labels: Add to Next Test Release, New PR

#10427 CBUS Node Tweaks
  java/src/jmri/jmrix/can/cbus/CbusBundle.properties
  java/src/jmri/jmrix/can/cbus/swing/nodeconfig/CbusNodeConfigTab.java
  java/src/jmri/jmrix/can/cbus/swing/nodeconfig/CbusNodeUserCommentsPane.java
  java/test/jmri/jmrix/can/cbus/swing/nodeconfig/CbusNodeUserCommentsPaneTest.java
Labels: Add to Next Test Release, Needs L10N, New PR

#10421 J11: remove deprecated swing utilities
  java/src/jmri/util/swing/BeanSelectCreatePanel.java
  java/src/jmri/util/swing/SliderSnap.java
  java/test/jmri/util/swing/SliderSnapTest.java
Labels: Java 11

#10423 J11: rm deprecated methods from two misc files
  java/src/jmri/jmrit/consisttool/ConsistFile.java
  java/src/jmri/jmrit/symbolicprog/SplitVariableValue.java
Labels: Java 11

#10424 J11: remove deprecated method from FunctionPanel and adjust scripts
  help/en/releasenotes/current-draft-warnings.shtml
  java/src/jmri/jmrit/throttle/FunctionButton.java
  jython/AAR105.py
  jython/RailDriver.py
  jython/USBThrottle.py
  jython/xboxThrottle.py
Labels: Java 11

#10425 J11: remove deprecated utilities
  java/src/jmri/util/PlaceWindow.java
  java/src/jmri/util/startup/StartupActionModelUtil.java
Labels: Java 11

#10434 Restore speed permitted signal aspect speeds
  java/src/jmri/jmrit/logix/Warrant.java
Labels: Add to Next Test Release, New PR

#10432 J11: handle server deprecations
  java/src/jmri/jmris/simpleserver/SimpleOperationsServer.java
  java/src/jmri/web/servlet/directory/DirectoryHandler.java
  java/src/jmri/web/servlet/panel/AbstractPanelServlet.java
  java/test/jmri/web/servlet/directory/DirectoryHandlerTest.java
Labels: Java 11

#10433 J11: Merge master 4.25.8
  README.md
  help/en/html/hardware/index.shtml
  help/en/html/hardware/loconet/Digitrax.shtml
  help/en/html/hardware/loconet/LocoBufferUSB.shtml
  help/en/releasenotes/current-draft-note.shtml
  java/src/jmri/jmrit/beantable/MemoryTableDataModel.java
  java/src/jmri/jmrit/beantable/OBlockTableBundle.properties
  java/src/jmri/jmrit/beantable/oblock/OBlockTableModel.java
  java/src/jmri/jmrit/beantable/oblock/TableFrames.java
  java/src/jmri/jmrit/logix/Engineer.java
  java/src/jmri/jmrit/logix/Warrant.java
  java/src/jmri/jmrit/logixng/MaleSocket.java
  java/src/jmri/jmrit/logixng/actions/ShowDialog.java
  java/src/jmri/jmrit/logixng/implementation/AbstractMaleSocket.java
  java/src/jmri/jmrix/AbstractMRTrafficController.java
  java/src/jmri/jmrix/can/cbus/CbusBundle.properties
  java/src/jmri/jmrix/can/cbus/swing/nodeconfig/CbusNodeConfigTab.java
  java/src/jmri/jmrix/can/cbus/swing/nodeconfig/CbusNodeUserCommentsPane.java
  java/src/jmri/jmrix/loconet/LnConnectionTypeList.java
  java/src/jmri/jmrix/loconet/locobufferng/Bundle.java
  java/src/jmri/jmrix/loconet/locobufferng/COPYING
  java/src/jmri/jmrix/loconet/locobufferng/ConnectionConfig.java
  java/src/jmri/jmrix/loconet/locobufferng/LocoBufferNGAdapter.java
  java/src/jmri/jmrix/loconet/locobufferng/configurexml/COPYING
  java/src/jmri/jmrix/loconet/locobufferng/configurexml/ConnectionConfigXml.java
  java/test/jmri/jmrit/beantable/MemoryTableDataModelTest.java
  java/test/jmri/jmrit/logixng/FemaleSocketTestBase.java
  java/test/jmri/jmrit/logixng/configurexml/load/LogixNG.xml
  java/test/jmri/jmrix/can/cbus/swing/nodeconfig/CbusNodeUserCommentsPaneTest.java
  java/test/jmri/jmrix/loconet/locobufferng/BundleTest.java
  java/test/jmri/jmrix/loconet/locobufferng/COPYING
  java/test/jmri/jmrix/loconet/locobufferng/ConnectionConfigTest.java
  java/test/jmri/jmrix/loconet/locobufferng/LocoBufferUsbAdapterTest.java
  java/test/jmri/jmrix/loconet/locobufferng/configurexml/ConnectionConfigXmlTest.java
  scripts/HOWTO-distribution.md
Labels: Documentation, Needs L10N, Java 11

#10431 J11: Remove jmri.implementation deprecated method
  java/src/jmri/implementation/swing/SwingShutDownTask.java
Labels: Java 11

#10430 J11: remove deprecated jmrix classes and methods
  java/src/jmri/jmrix/can/cbus/CbusProgrammer.java
  java/src/jmri/jmrix/can/cbus/CbusProgrammerManager.java
  java/src/jmri/jmrix/can/cbus/CbusReporter.java
  java/src/jmri/jmrix/cmri/serial/nodeconfig/NodeConfigAction.java
  java/src/jmri/jmrix/cmri/serial/nodeconfig/NodeConfigFrame.java
  java/src/jmri/jmrix/dcc4pc/Dcc4PcSystemConnectionMemo.java
  java/src/jmri/jmrix/dcc4pc/serialdriver/SerialDriverAdapter.java
  java/src/jmri/jmrix/dcc4pc/serialdriver/configurexml/ConnectionConfigXml.java
  java/src/jmri/jmrix/ieee802154/xbee/XBeeNode.java
  java/src/jmri/jmrix/ieee802154/xbee/XBeeTrafficController.java
  java/src/jmri/jmrix/lenz/hornbyelite/EliteXNetInitializationManager.java
  java/src/jmri/jmrix/lenz/li100/LI100XNetInitializationManager.java
  java/src/jmri/jmrix/lenz/li100f/LI100fAdapter.java
  java/src/jmri/jmrix/lenz/li101/LI101Adapter.java
  java/src/jmri/jmrix/lenz/liusb/LIUSBAdapter.java
  java/src/jmri/jmrix/loconet/AbstractAlmImplementation.java
  java/src/jmri/jmrix/loconet/clockmon/ClockMonPane.java
  java/src/jmri/jmrix/loconet/locoio/LocoIOPanel.java
  java/src/jmri/jmrix/loconet/locomon/LocoMonPane.java
  java/src/jmri/jmrix/loconet/loconetovertcp/LnOverTcpPacketizer.java
  java/src/jmri/jmrix/loconet/locostats/swing/LocoStatsPanel.java
  java/src/jmri/jmrix/loconet/pr3/swing/Pr3SelectPane.java
  java/src/jmri/jmrix/loconet/slotmon/SlotMonPane.java
  java/src/jmri/jmrix/loconet/streamport/LnStreamPortPacketizer.java
  java/src/jmri/jmrix/nce/NceMenu.java
  java/src/jmri/jmrix/nce/NceUSB.java
  java/src/jmri/jmrix/powerline/SystemMenu.java
  java/src/jmri/jmrix/powerline/swing/serialmon/SerialMonPane.java
  java/src/jmri/jmrix/rfid/TimeoutRfidReporter.java
  java/src/jmri/jmrix/rfid/generic/standalone/StandaloneSystemConnectionMemo.java
  java/src/jmri/jmrix/rfid/merg/concentrator/ConcentratorSystemConnectionMemo.java
  java/src/jmri/jmrix/roco/z21/Z21XNetInitializationManager.java
  java/src/jmri/jmrix/rps/serial/ConnectionConfig.java
  java/src/jmri/jmrix/rps/swing/debugger/DebuggerFrame.java
  java/src/jmri/jmrix/tams/swing/monitor/TamsMonPane.java
  java/src/jmri/jmrix/tams/swing/statusframe/StatusPanel.java
  java/src/jmri/jmrix/zimo/mx1/ConnectionConfig.java
  java/src/jmri/jmrix/zimo/mx1/Mx1Adapter.java
  java/src/jmri/jmrix/zimo/mx1/configurexml/ConnectionConfigXml.java
  java/src/jmri/jmrix/zimo/swing/monitor/Mx1MonPanel.java
  java/src/jmri/jmrix/ztc/ztc611/ZTC611XNetInitializationManager.java
  java/test/jmri/jmrix/can/cbus/CbusProgrammerManagerTest.java
  java/test/jmri/jmrix/can/cbus/CbusProgrammerTest.java
  java/test/jmri/jmrix/can/cbus/CbusReporterTest.java
  java/test/jmri/jmrix/cmri/serial/nodeconfig/NodeConfigActionTest.java
  java/test/jmri/jmrix/cmri/serial/nodeconfig/NodeConfigFrameTest.java
  java/test/jmri/jmrix/lenz/hornbyelite/EliteXNetInitializationManagerTest.java
  java/test/jmri/jmrix/lenz/li100/LI100XNetInitializationManagerTest.java
  java/test/jmri/jmrix/loconet/locoio/LocoIOPanelTest.java
  java/test/jmri/jmrix/loconet/loconetovertcp/LnOverTcpPacketizerTest.java
  java/test/jmri/jmrix/nce/NceMenuTest.java
  java/test/jmri/jmrix/nce/NceUSBTest.java
  java/test/jmri/jmrix/powerline/SystemMenuTest.java
  java/test/jmri/jmrix/rfid/TimeoutRfidReporterTest.java
  java/test/jmri/jmrix/rfid/generic/standalone/StandaloneSystemConnectionMemoTest.java
  java/test/jmri/jmrix/rfid/merg/concentrator/ConcentratorSystemConnectionMemoTest.java
  java/test/jmri/jmrix/roco/z21/Z21XNetInitializationManagerTest.java
  java/test/jmri/jmrix/ztc/ztc611/ZTC611XNetInitializationManagerTest.java
Labels: Java 11

#10437 Add help info on a consist column in DP
  help/en/html/tools/consisttool/ConsistTool.shtml
Labels: Add to Next Test Release, Documentation

#10438 Fix bug in ExecuteDelayed
  java/src/jmri/jmrit/logixng/actions/ExecuteDelayed.java
Labels: Bug, Add to Next Test Release

#10440 J11: Handle last set of deprecations
  java/src/apps/SampleMinimalProgram.java
  java/src/jmri/jmrix/can/adapters/gridconnect/GcSerialDriverAdapter.java
  java/src/jmri/jmrix/can/adapters/gridconnect/can2usbino/serialdriver/SerialDriverAdapter.java
  java/src/jmri/jmrix/can/adapters/gridconnect/canusb/serialdriver/SerialDriverAdapter.java
  java/src/jmri/jmrix/can/adapters/gridconnect/lccbuffer/serialdriver/SerialDriverAdapter.java
  java/src/jmri/jmrix/can/adapters/lawicell/SerialDriverAdapter.java
  java/src/jmri/jmrix/can/adapters/lawicell/canusb/serialdriver/CanUsbDriverAdapter.java
  java/src/jmri/jmrix/cmri/serial/SerialTurnoutManager.java
  java/src/jmri/jmrix/ecos/EcosLocoAddress.java
  java/src/jmri/jmrix/jmriclient/networkdriver/NetworkDriverAdapter.java
  java/src/jmri/jmrix/lenz/FeedbackItem.java
  java/src/jmri/jmrix/lenz/li100/LI100Adapter.java
  java/src/jmri/jmrix/maple/SerialTurnoutManager.java
  java/src/jmri/jmrix/nce/consist/NceConsistRoster.java
  java/src/jmri/jmrix/openlcb/OlcbConfigurationManager.java
  java/src/jmri/jmrix/openlcb/OlcbConstants.java
  java/src/jmri/jmrix/qsi/QsiSystemConnectionMemo.java
  java/src/jmri/jmrix/rps/serial/SerialAdapter.java
  java/src/jmri/jmrix/srcp/SRCPSensorManager.java
  java/src/jmri/jmrix/srcp/SRCPSystemConnectionMemo.java
  java/src/jmri/jmrix/srcp/SRCPTurnoutManager.java
  java/src/jmri/jmrix/tmcc/serialdriver/SerialDriverAdapter.java
  java/src/jmri/jmrix/zimo/Mx1SystemConnectionMemo.java
  java/src/jmri/jmrix/zimo/mx1/ConnectionConfig.java
  java/src/jmri/jmrix/ztc/ztc611/ZTC611Adapter.java
  java/test/jmri/RunCucumberIT.java
  java/test/jmri/jmrit/logixng/tools/ImportExpressionClockTest.java
  java/test/jmri/jmrit/logixng/util/parser/functions/ClockFunctionsTest.java
  java/test/jmri/jmrit/simpleclock/SimpleTimebaseTest.java
  java/test/jmri/jmrix/cmri/serial/SerialAddressTest.java
  java/test/jmri/jmrix/cmri/serial/SerialAddressTwoSystemTest.java
  java/test/jmri/jmrix/cmri/serial/SerialTurnoutManagerTest.java
  java/test/jmri/jmrix/dccpp/DCCppPacketizerTest.java
  java/test/jmri/jmrix/internal/InternalSensorManagerTest.java
  java/test/jmri/jmrix/loconet/LnClockControlTest.java
  java/test/jmri/jmrix/loconet/LnTurnoutManagerTest.java
  java/test/jmri/jmrix/loconet/hexfile/HexFileFrameTest.java
  java/test/jmri/jmrix/maple/SerialAddressTest.java
  java/test/jmri/jmrix/maple/SerialTurnoutManagerTest.java
  java/test/jmri/jmrix/srcp/SRCPSensorManagerTest.java
  java/test/jmri/jmrix/srcp/SRCPTurnoutManagerTest.java
  java/test/jmri/jmrix/srcp/SRCPTurnoutTest.java
  java/test/jmri/managers/AbstractSensorMgrTestBase.java
  java/test/jmri/managers/DefaultSignalSystemManagerTest.java
  java/test/jmri/managers/ProxySensorManagerTest.java
  java/test/jmri/server/json/idtag/JsonIdTagHttpServiceTest.java
  java/test/jmri/server/json/idtag/JsonIdTagSocketServiceTest.java
  java/test/jmri/server/json/operations/JsonOperationsSocketServiceTest.java
  java/test/jmri/server/json/util/JsonUtilHttpServiceTest.java
  java/test/jmri/util/JUnitUtil.java
  java/test/jmri/util/PipeListenerTest.java
Labels: Java 11

#10443 Use current values from the model for the view
  java/src/jmri/jmrit/display/layoutEditor/LayoutTurnoutView.java
Labels: Add to Next Test Release

#10445 Add new ESU ProductIDs.
  xml/decoders/ESU_Essential_Sound_Unit.xml
  xml/decoders/ESU_LokPilot5.xml
Labels: Add to Next Test Release

#10446 Czech Translation 2021-12-07
  java/src/jmri/jmrit/beantable/OBlockTableBundle_cs.properties
  java/src/jmri/jmrit/logixng/actions/ActionBundle_cs.properties
  java/src/jmri/jmrit/logixng/actions/swing/DigitalActionSwingBundle_cs.properties
Labels: Add to Next Test Release

#10444 Allow user to use two wildcards when searching for a car by number
  java/src/jmri/jmrit/operations/rollingstock/cars/CarsTableModel.java
  java/src/jmri/jmrit/operations/rollingstock/engines/EnginesTableModel.java
Labels: Add to Next Test Release

#10448 J11: Dev builds use "plus" instead of "ish"
  .gitignore
  build.xml
  help/en/releasenotes/current-draft-note.shtml
  release.properties
  scripts/HOWTO-distribution.md
Labels: Java 11

#10441 Clear ArrayLists that hold the column data for the transit edit
  java/src/jmri/jmrit/beantable/TransitTableAction.java
Labels: Add to Next Test Release

#10452 Let digital actions choose socket prefix
  java/src/jmri/jmrit/logixng/actions/AbstractDigitalAction.java
  java/src/jmri/jmrit/logixng/actions/DigitalFormula.java
  java/src/jmri/jmrit/logixng/actions/swing/ActionTimerSwing.java
Labels: Add to Next Test Release

#10453 Fix NPE when deleting Roster Group
  java/src/jmri/jmrit/operations/rollingstock/engines/tools/ImportRosterEngines.java
  java/src/jmri/jmrit/roster/swing/rostergroup/RosterGroupTableAction.java
  java/test/jmri/jmrit/operations/rollingstock/engines/tools/ImportRosterEngineActionTest.java
Labels: Add to Next Test Release

#10454 Add the LogixNG function hex2dec
  help/en/releasenotes/current-draft-note.shtml
  java/src/jmri/jmrit/logixng/util/parser/functions/ConvertFunctions.java
  java/src/jmri/jmrit/logixng/util/parser/functions/FunctionsBundle.properties
  java/test/jmri/jmrit/logixng/util/parser/functions/ConvertFunctionsTest.java
Labels: Add to Next Test Release, Needs L10N

#10451 Import single Logix to LogixNG
  help/en/releasenotes/current-draft-note.shtml
  java/src/jmri/jmrit/beantable/BeanTableBundle.properties
  java/src/jmri/jmrit/beantable/LogixTableAction.java
  java/src/jmri/jmrit/logixng/tools/swing/ImportLogixFrame.java
  java/src/jmri/jmrit/logixng/tools/swing/LogixNGSwingBundle.properties
Labels: Needs L10N

#10436 Improve Execute delayed
  java/src/jmri/jmrit/logixng/actions/ActionBundle.properties
  java/src/jmri/jmrit/logixng/actions/ExecuteDelayed.java
  java/src/jmri/jmrit/logixng/actions/configurexml/ExecuteDelayedXml.java
  java/src/jmri/jmrit/logixng/actions/swing/DigitalActionSwingBundle.properties
  java/src/jmri/jmrit/logixng/actions/swing/ExecuteDelayedSwing.java
  java/test/jmri/jmrit/logixng/actions/ExecuteDelayedTest.java
  java/test/jmri/jmrit/logixng/configurexml/StoreAndLoadTest.java
  java/test/jmri/jmrit/logixng/configurexml/load/LogixNG.xml
  xml/schema/logixng/digital-actions/executedelayed-4.23.1.xsd
Labels: Needs L10N

#10460 Remove whitespace during operation imports
  help/en/package/jmri/jmrit/operations/Operations.shtml
  java/src/jmri/jmrit/operations/rollingstock/cars/JmritOperationsCarsBundle.properties
  java/src/jmri/jmrit/operations/rollingstock/cars/tools/ImportCars.java
  java/src/jmri/jmrit/operations/rollingstock/engines/tools/ImportEngines.java
  java/src/jmri/jmrit/operations/rollingstock/engines/tools/ImportRosterEngines.java
Labels: Documentation, Needs L10N

#10459 Update Logix.shtml
  help/en/html/tools/Logix.shtml
Labels: Documentation

#10468 J11: fix cucumber tests
  java/test/apps/PanelPro/profiles/Grapevine_Simulator/profile/profile.xml
  java/test/apps/PanelPro/profiles/LocoNet_Simulator/profile/profile.xml
  java/test/apps/PanelPro/profiles/Prevent_Init_Loop/profile/profile.xml
  java/test/apps/PanelPro/profiles/Sprog_Simulator/profile/profile.xml
  java/test/apps/PanelPro/profiles/TMCC_Simulator/profile/profile.xml
Labels: New PR, Java 11

#10463 Improve operations testing. Fails intermittently on JMRI 5 Development.
  java/test/jmri/jmrit/operations/trains/TrainsTableFrameTest.java
Labels: Add to Next Test Release

#10465 J11: fewer @SuppressWarnings
  java/src/jmri/jmrit/audio/swing/AbstractAudioFrame.java
  java/src/jmri/jmrit/audio/swing/AudioBufferFrame.java
  java/src/jmri/jmrit/audio/swing/AudioListenerFrame.java
  java/src/jmri/jmrit/audio/swing/AudioSourceFrame.java
  java/src/jmri/jmrit/roster/swing/RosterEntryListCellRenderer.java
  java/src/jmri/jmrix/loconet/sdf/SdfConstants.java
  java/src/jmri/util/MultipartMessage.java
  java/src/jmri/util/iharder/dnd/DnDList.java
Labels: Java 11

#10462 Remove unused RetryRules from JUnit5 Tests
  help/en/html/doc/Technical/JUnit.shtml
  java/test/jmri/jmrit/beantable/LogixNGModuleTableActionTest.java
  java/test/jmri/jmrit/beantable/LogixNGTableActionTest.java
  java/test/jmri/jmrit/beantable/LogixNGTableTableActionTest.java
  java/test/jmri/jmrit/beantable/LogixTableActionTest.java
  java/test/jmri/jmrit/display/layoutEditor/LayoutEditorTest.java
  java/test/jmri/jmrit/display/layoutEditor/LayoutEditorToolsTest.java
  java/test/jmri/jmrit/entryexit/AddEntryExitPairPanelTest.java
  java/test/jmri/jmrit/operations/rollingstock/cars/CarEditFrameTest.java
  java/test/jmri/jmrit/operations/rollingstock/engines/EngineEditFrameTest.java
  java/test/jmri/jmrit/operations/rollingstock/engines/tools/ImportRosterEngineActionTest.java
  java/test/jmri/jmrit/operations/trains/TrainsTableFrameTest.java
  java/test/jmri/jmrit/operations/trains/tools/PrintTrainManifestActionTest.java
  java/test/jmri/jmrit/throttle/ThrottlesPreferencesWindowTest.java
  java/test/jmri/jmrix/dccpp/dccppovertcp/DCCppOverTcpPacketizerTest.java
  java/test/jmri/jmrix/easydcc/EasyDccTrafficControllerTest.java
  java/test/jmri/jmrix/easydcc/simulator/EasyDccSimulatorTrafficControllerTest.java
  java/test/jmri/jmrix/lenz/XNetThrottleTest.java
  java/test/jmri/jmrix/openlcb/OlcbSensorTest.java
  java/test/jmri/util/junit/rules/RetryRule.java
  java/test/jmri/util/junit/rules/RetryRuleTest.java
Labels: Documentation

#10469 Add missing Bundle items jmri.util.startup.Bundle
  java/src/jmri/util/startup/Bundle.properties
  java/src/jmri/util/startup/Bundle_ca.properties
  java/src/jmri/util/startup/Bundle_cs.properties
  java/src/jmri/util/startup/Bundle_de.properties
  java/src/jmri/util/startup/Bundle_fr.properties
  java/src/jmri/util/startup/Bundle_nl.properties
Labels: Needs L10N

#10474 Operation tests improvements
  java/test/jmri/jmrit/operations/rollingstock/cars/CarEditFrameTest.java
  java/test/jmri/jmrit/operations/trains/TrainsTableFrameTest.java
Labels: Add to Next Test Release

#10475 LogixNG help updates to include new and changed features
  help/en/html/tools/logixng/LogixNG.shtml
  help/en/html/tools/logixng/SidebarToolLocalPart.shtml
  help/en/html/tools/logixng/reference/chapter11.shtml
  help/en/html/tools/logixng/reference/chapter5.shtml
  help/en/html/tools/logixng/reference/chapter7.shtml
  help/en/html/tools/logixng/reference/chapter8.shtml
  help/en/html/tools/logixng/reference/chapter9.shtml
  help/en/html/tools/logixng/reference/images/chapter11/table_for_each_listen.png
  help/en/html/tools/logixng/reference/images/chapter5/delayed_vs_timeout.png
  help/en/html/tools/logixng/reference/images/chapter5/digital_action_common.png
  help/en/html/tools/logixng/reference/images/chapter5/digital_action_other.png
  help/en/html/tools/logixng/reference/images/chapter5/digital_formula_dialog.png
  help/en/html/tools/logixng/reference/images/chapter5/if_then_else.jpg
  help/en/html/tools/logixng/reference/images/chapter5/show_dialog_button_process.png
  help/en/html/tools/logixng/reference/images/chapter5/show_dialog_dialog.png
  help/en/html/tools/logixng/reference/images/chapter5/show_dialog_ml_sample.png
  help/en/html/tools/logixng/reference/images/chapter5/show_dialog_multiline.png
  help/en/html/tools/logixng/reference/images/chapter5/show_dialog_yes_no.png
  help/en/html/tools/logixng/reference/images/chapter7/listen_on_beans_dialog.png
  help/en/html/tools/logixng/reference/images/chapter8/array_sample.png
  help/en/html/tools/logixng/reference/images/chapter8/local_variable_array.png
  help/en/html/tools/logixng/reference/images/chapter8/local_variable_map.png
  help/en/html/tools/logixng/reference/images/chapter8/local_variable_types.png
  help/en/html/tools/logixng/reference/images/chapter8/map_sample.png
  help/en/html/tools/logixng/reference/images/chapter9/functions_clock.png
  help/en/html/tools/logixng/reference/images/chapter9/functions_convert.png
  help/en/html/tools/logixng/reference/images/chapter9/functions_layout.png
  help/en/html/tools/logixng/reference/images/chapter9/functions_math.png
  help/en/html/tools/logixng/reference/images/chapter9/functions_named_bean.png
  help/en/html/tools/logixng/reference/images/chapter9/functions_string.png
Labels: Documentation

#10477 J11: Don't run Cucumber when headless
  java/test/jmri/RunCucumberIT.java
Labels: Java 11

#10480 Improve help stub Safari message
  help/en/local/stub_template.html
  help/fr/local/stub_template.html
Labels: Documentation

#10473 Fix bug in ActionMemory
  java/src/jmri/jmrit/logixng/actions/ActionMemory.java
Labels: Bug, New PR

#10481 Improve the LogixNG action ShowDialog
  java/src/jmri/jmrit/logixng/actions/ActionBundle.properties
  java/src/jmri/jmrit/logixng/actions/ShowDialog.java
  java/src/jmri/jmrit/logixng/actions/configurexml/ShowDialogXml.java
  java/src/jmri/jmrit/logixng/actions/swing/DigitalActionSwingBundle.properties
  java/src/jmri/jmrit/logixng/actions/swing/ShowDialogSwing.java
  java/src/jmri/jmrit/logixng/util/parser/functions/ConvertFunctions.java
  java/src/jmri/jmrit/logixng/util/parser/functions/FunctionsBundle.properties
  java/src/jmri/util/TypeConversionUtil.java
  java/test/jmri/jmrit/logixng/configurexml/StoreAndLoadTest.java
  java/test/jmri/jmrit/logixng/configurexml/load/LogixNG.xml
  java/test/jmri/jmrit/logixng/util/parser/functions/ConvertFunctionsTest.java
  xml/schema/logixng/digital-actions/show-dialog-4.25.7.xsd
Labels: Needs L10N

#10491 Update the Show dialog help to include the input field option.
  help/en/html/tools/logixng/reference/chapter5.shtml
  help/en/html/tools/logixng/reference/chapter9.shtml
  help/en/html/tools/logixng/reference/images/chapter5/show_dialog_dialog.png
  help/en/html/tools/logixng/reference/images/chapter5/show_dialog_input_code.png
  help/en/html/tools/logixng/reference/images/chapter5/show_dialog_input_sample.png
  help/en/html/tools/logixng/reference/images/chapter5/show_dialog_validate_execute.png
  help/en/html/tools/logixng/reference/images/chapter9/functions_convert.png
Labels: Documentation

#10493 File menu, Save item in DP
  java/src/jmri/jmrit/symbolicprog/SymbolicProgBundle.properties
  java/src/jmri/jmrit/symbolicprog/SymbolicProgBundle_cs.properties
  java/src/jmri/jmrit/symbolicprog/SymbolicProgBundle_da.properties
  java/src/jmri/jmrit/symbolicprog/SymbolicProgBundle_de.properties
  java/src/jmri/jmrit/symbolicprog/SymbolicProgBundle_fr.properties
  java/src/jmri/jmrit/symbolicprog/SymbolicProgBundle_it.properties
  java/src/jmri/jmrit/symbolicprog/SymbolicProgBundle_nl.properties
  java/src/jmri/jmrit/symbolicprog/tabbedframe/PaneProgFrame.java
Labels: Needs L10N

#10492 J11: clean up VariableLight's use of Timebase at end of test
  java/test/jmri/managers/DefaultVariableLightManagerTest.java
  java/test/jmri/managers/ProxyAnalogIOManagerTest.java
Labels: Java 11

#10495 Fix bugs in LogixNG when copy/paste
  java/src/jmri/jmrit/logixng/tools/swing/TreeEditor.java
Labels: New PR

#10498 J11: move certain openlcb tests to the "run separately" list
  java/test/jmri/jmrix/openlcb/OlcbClockControlTest.java
  java/test/jmri/jmrix/openlcb/OlcbConfigurationManagerTest.java
  java/test/jmri/jmrix/openlcb/OlcbLightManagerTest.java
  java/test/jmri/jmrix/openlcb/OlcbLightTest.java
  java/test/jmri/jmrix/openlcb/OlcbSensorTest.java
  java/test/jmri/jmrix/openlcb/OlcbTurnoutInheritedTest.java
  java/test/jmri/jmrix/openlcb/OlcbTurnoutTest.java
  java/test/jmri/jmrix/openlcb/configurexml/OlcbLightManagerXmlTest.java
  java/test/jmri/jmrix/openlcb/configurexml/OlcbSensorManagerXmlTest.java
  java/test/jmri/jmrix/openlcb/configurexml/OlcbSignalMastXmlTest.java
  java/test/jmri/jmrix/openlcb/configurexml/ProtocolOptionsPersistenceTest.java
  java/test/jmri/jmrix/openlcb/swing/hub/HubPaneTest.java
  java/test/jmri/jmrix/openlcb/swing/networktree/CdiPanelDemo.java
  java/test/jmri/jmrix/openlcb/swing/networktree/TreePaneDemo.java
  java/test/jmri/jmrix/openlcb/swing/send/OpenLcbCanSendPaneTest.java
  java/test/jmri/util/JUnitUtil.java
Labels: Java 11

#10500 Link to JRE installer doc
  help/en/html/doc/Technical/JVMCapabilities.shtml
  help/en/html/doc/Technical/TechRoadMap.shtml
Labels: Documentation

#10504 J11: improve test synch
  build.xml
  java/ecj.warning.options
  java/ecj.warning.options-ci
  java/ecj.warning.options-test
  java/ecj.warning.options-test-ci
  java/test/jmri/jmrit/withrottle/MultiThrottleControllerTest.java
  java/test/jmri/jmrix/can/AbstractCanTrafficControllerTest.java
  java/test/jmri/jmrix/can/TrafficControllerTest.java
  java/test/jmri/jmrix/lenz/XNetInterfaceScaffold.java
  java/test/jmri/jmrix/loconet/LnDeferProgrammerTest.java
  java/test/jmri/jmrix/loconet/SlotManagerTest.java
  java/test/jmri/jmrix/pricom/pockettester/StatusFrameTest.java
  java/test/jmri/jmrix/rfid/generic/standalone/StandaloneReporterManagerTest.java
  java/test/jmri/jmrix/rfid/merg/concentrator/ConcentratorReporterManagerTest.java
  java/test/jmri/jmrix/rfid/merg/concentrator/ConcentratorSensorManagerTest.java
  java/test/jmri/jmrix/xpa/XpaTrafficControlScaffold.java
Labels: Java 11

#10506 Add native MQTT signal masts
  help/en/releasenotes/current-draft-note.shtml
  java/src/jmri/implementation/AbstractSignalMast.java
  java/src/jmri/jmrix/mqtt/Bundle.properties
  java/src/jmri/jmrix/mqtt/MqttSignalMast.java
  java/src/jmri/jmrix/mqtt/MqttSignalMastAddPane.java
  java/src/jmri/jmrix/mqtt/MqttSystemConnectionMemo.java
  java/src/jmri/jmrix/mqtt/configurexml/MqttSignalMastXml.java
  java/src/jmri/managers/configurexml/DefaultSignalMastManagerXml.java
  java/test/jmri/jmrix/mqtt/MqttSignalMastTest.java
  xml/schema/types/signalmasts-2-9-6.xsd
Labels: Needs L10N

#10508 Add Acknowledgement for new contributor
  help/en/Acknowledgements.shtml
Labels: Documentation

#10516 J11 merge master
  help/en/Acknowledgements.shtml
  help/en/html/doc/Technical/JVMCapabilities.shtml
  help/en/html/doc/Technical/TechRoadMap.shtml
  help/en/html/tools/logixng/reference/chapter5.shtml
  help/en/html/tools/logixng/reference/chapter9.shtml
  help/en/html/tools/logixng/reference/images/chapter5/show_dialog_dialog.png
  help/en/html/tools/logixng/reference/images/chapter5/show_dialog_input_code.png
  help/en/html/tools/logixng/reference/images/chapter5/show_dialog_input_sample.png
  help/en/html/tools/logixng/reference/images/chapter5/show_dialog_validate_execute.png
  help/en/html/tools/logixng/reference/images/chapter9/functions_convert.png
  help/en/local/stub_template.html
  help/en/releasenotes/current-draft-note.shtml
  help/en/releasenotes/current-draft-warnings.shtml
  help/fr/local/stub_template.html
  java/src/jmri/implementation/AbstractSignalMast.java
  java/src/jmri/jmrit/beantable/BeanTableBundle_cs.properties
  java/src/jmri/jmrit/logixng/actions/ActionBundle_cs.properties
  java/src/jmri/jmrit/logixng/actions/swing/DigitalActionSwingBundle_cs.properties
  java/src/jmri/jmrit/logixng/tools/swing/LogixNGSwingBundle_cs.properties
  java/src/jmri/jmrit/logixng/tools/swing/TreeEditor.java
  java/src/jmri/jmrit/logixng/util/parser/functions/FunctionsBundle.properties
  java/src/jmri/jmrit/logixng/util/parser/functions/FunctionsBundle_cs.properties
  java/src/jmri/jmrit/symbolicprog/SymbolicProgBundle.properties
  java/src/jmri/jmrit/symbolicprog/SymbolicProgBundle_cs.properties
  java/src/jmri/jmrit/symbolicprog/SymbolicProgBundle_da.properties
  java/src/jmri/jmrit/symbolicprog/SymbolicProgBundle_de.properties
  java/src/jmri/jmrit/symbolicprog/SymbolicProgBundle_fr.properties
  java/src/jmri/jmrit/symbolicprog/SymbolicProgBundle_it.properties
  java/src/jmri/jmrit/symbolicprog/SymbolicProgBundle_nl.properties
  java/src/jmri/jmrit/symbolicprog/tabbedframe/PaneProgFrame.java
  java/src/jmri/jmrix/dccpp/DCCppConstants.java
  java/src/jmri/jmrix/dccpp/DCCppMessage.java
  java/src/jmri/jmrix/dccpp/DCCppReply.java
  java/src/jmri/jmrix/dccpp/DCCppThrottle.java
  java/src/jmri/jmrix/dccpp/DCCppThrottleManager.java
  java/src/jmri/jmrix/mqtt/Bundle.properties
  java/src/jmri/jmrix/mqtt/MqttSignalMast.java
  java/src/jmri/jmrix/mqtt/MqttSignalMastAddPane.java
  java/src/jmri/jmrix/mqtt/MqttSystemConnectionMemo.java
  java/src/jmri/jmrix/mqtt/configurexml/MqttSignalMastXml.java
  java/src/jmri/managers/configurexml/DefaultSignalMastManagerXml.java
  java/test/jmri/jmrit/logixng/ActionsAndExpressionsTest.java
  java/test/jmri/jmrix/dccpp/DCCppReplyTest.java
  java/test/jmri/jmrix/dccpp/DCCppThrottleTest.java
  java/test/jmri/jmrix/mqtt/MqttSignalMastTest.java
  jython/MQTT/README.md
  jython/MQTT/index.php
  scripts/WinInstallFiles/InstallJMRI.nsi
  xml/decoders/ESU_LokSound5.xml
  xml/schema/types/signalmasts-2-9-6.xsd
Labels: Documentation, Needs L10N, New PR, Java 11

#10513 J11: exclude xml api
  build.xml
  lib/xml-apis-ext-1.3.04.jar
Labels: Java 11

#10514 J11: migration and cleanup
  java/src/jmri/beans/PropertyChangeFirer.java
  java/src/jmri/beans/VetoableChangeFirer.java
  java/test/jmri/jmrit/catalog/PreviewDialogTest.java
  java/test/jmri/jmrit/logixng/actions/swing/ActionLightSwingTest.java
  java/test/jmri/jmrit/logixng/expressions/swing/ExpressionLightSwingTest.java
  java/test/jmri/jmrit/logixng/expressions/swing/ExpressionTurnoutSwingTest.java
  java/test/jmri/jmrit/logixng/tools/swing/ConditionalNGDebuggerTest.java
  java/test/jmri/util/prefs/JmriPreferencesProviderTest.java
Labels: Java 11

#10518 Operation test improvements
  help/en/package/jmri/jmrit/operations/Operations.shtml
  java/test/jmri/util/swing/JemmyUtil.java
Labels: Add to Next Test Release, Documentation

#10523 Operations test improvements
  java/test/jmri/jmrit/operations/rollingstock/cars/CarEditFrameTest.java
  java/test/jmri/jmrit/operations/rollingstock/cars/CarSetFrameTest.java
  java/test/jmri/jmrit/operations/rollingstock/cars/CarsSetFrameTest.java
  java/test/jmri/jmrit/operations/trains/TrainBuilderGuiTest.java
Labels: Add to Next Test Release

#10522 Refactor DefaultConditional.takeActionIfNeeded()
  java/src/jmri/implementation/DefaultConditional.java
  java/src/jmri/implementation/DefaultConditionalExecute.java
Labels: New PR

#10531 J11: Merge master into j11master
  help/en/package/jmri/jmrit/operations/Operations.shtml
  java/src/jmri/implementation/DefaultConditional.java
  java/src/jmri/implementation/DefaultConditionalExecute.java
  java/src/jmri/jmrix/dccpp/DCCppConstants.java
  java/test/jmri/jmrit/operations/rollingstock/cars/CarEditFrameTest.java
  java/test/jmri/jmrit/operations/rollingstock/cars/CarSetFrameTest.java
  java/test/jmri/jmrit/operations/rollingstock/cars/CarsSetFrameTest.java
  java/test/jmri/jmrit/operations/trains/TrainBuilderGuiTest.java
  java/test/jmri/jmrix/dccpp/DCCppReplyTest.java
  java/test/jmri/util/swing/JemmyUtil.java
Labels: Documentation, New PR, Java 11

#10525 Provide common script file chooser experience
  java/src/apps/startup/ScriptButtonModelFactory.java
  java/src/jmri/jmrit/beantable/LRouteTableAction.java
  java/src/jmri/jmrit/beantable/routetable/AbstractRouteAddEditFrame.java
  java/src/jmri/jmrit/conditional/ConditionalEditFrame.java
  java/src/jmri/jmrit/conditional/ConditionalTreeEdit.java
  java/src/jmri/jmrit/jython/InputWindow.java
  java/src/jmri/jmrit/jython/RunJythonScript.java
  java/src/jmri/jmrit/logixng/actions/swing/ActionScriptSwing.java
  java/src/jmri/jmrit/logixng/expressions/swing/ExpressionScriptSwing.java
  java/src/jmri/jmrit/operations/trains/tools/TrainScriptFrame.java
  java/src/jmri/jmrit/operations/trains/tools/TrainsScriptFrame.java
  java/src/jmri/script/swing/Bundle.java
  java/src/jmri/script/swing/Bundle.properties
  java/src/jmri/script/swing/ScriptFileChooser.java
  java/src/jmri/util/startup/PerformScriptModelFactory.java
  java/test/jmri/script/swing/ScriptFileChooserTest.java
Labels: Needs L10N, Java 11

#10532 J11: Small update to FindBugsCheck test file
  java/src/apps/FindBugsCheck.java
Labels: Java 11

#10535 J11: Small metadata update
  nb-configuration.xml
  tests.lcf
Labels: Java 11

#10536 MQTT additions
  help/en/html/hardware/mqtt/index.shtml
  help/en/releasenotes/current-draft-note.shtml
  java/src/jmri/jmrix/mqtt/MqttConnectionConfig.java
  java/src/jmri/jmrix/mqtt/MqttSignalMastAddPane.java
  java/test/jmri/jmrix/mqtt/MqttLightTest.java
Labels: Documentation
